/**
 * Slinky
 */
.container {
  max-width: 1800px;
  margin: auto; }

.grid-wrapper {
  width: 100%; }

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1800px;
  width: 100%; }
  .ie9 .grid {
    display: table;
    width: 100%; }

.tile,
[class*='tile-'] {
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0; }
  .ie9 .tile, .ie9
  [class*='tile-'] {
    display: table-cell;
    float: left; }
  .tile div,
  [class*='tile-'] div {
    max-width: 100%; }

.tile-auto {
  flex-grow: 1;
  width: auto; }

.grid__col,
[class*='grid__col'] {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0; }
  .ie9 .grid__col, .ie9
  [class*='grid__col'] {
    display: table-cell;
    float: left; }

.grid__row,
[class*='grid__row'] {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0; }
  .ie9 .grid__row, .ie9
  [class*='grid__row'] {
    display: table-cell;
    float: left; }

.tile-1,
.grid__col-1 {
  flex-basis: 50%;
  width: 50%;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 25%;
  flex-basis: 25%;
  overflow: hidden; }
  .ie9 .tile-1, .ie9
  .grid__col-1 {
    width: 25%; }

.tile-2,
.grid__col-2 {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 50%;
  flex-basis: 50%;
  overflow: hidden; }
  .ie9 .tile-2, .ie9
  .grid__col-2 {
    width: 50%; }

.tile-3,
.grid__col-3 {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 75%;
  flex-basis: 75%;
  overflow: hidden; }
  .ie9 .tile-3, .ie9
  .grid__col-3 {
    width: 75%; }

.tile-4,
.grid__col-4 {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 100%;
  flex-basis: 100%;
  overflow: hidden; }
  .ie9 .tile-4, .ie9
  .grid__col-4 {
    width: 100%; }

.tile-one-third {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 33.3333333333%;
  min-width: 33.3333333333%; }
  .ie9 .tile-one-third {
    width: 33.3333333333%; }

.tile-two-thirds {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 66.6666666667%;
  min-width: 66.6666666667%; }
  .ie9 .tile-two-thirds {
    width: 66.6666666667%; }

h1,
h1.flexifont {
  font-size: 20.7385152499px;
  line-height: 31.1077728749px;
  margin-top: 20.4461135625px;
  margin-bottom: 20.4461135625px; }
  @media screen and (min-width: 600px) {
    h1,
    h1.flexifont {
      font-size: calc(20.7385152499px + 19.0746047501 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h1,
    h1.flexifont {
      font-size: 39.81312px; } }
  @media screen and (min-width: 600px) {
    h1,
    h1.flexifont {
      line-height: calc(31.1077728749px + 28.6119071251 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h1,
    h1.flexifont {
      line-height: 59.71968px; } }
  @media screen and (min-width: 600px) {
    h1,
    h1.flexifont {
      margin-top: calc(20.4461135625px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(20.4461135625px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h1,
    h1.flexifont {
      margin-top: 20.4461135625px;
      margin-bottom: 20.4461135625px; } }

h2,
h2.flexifont {
  font-size: 19.436284208px;
  line-height: 29.154426312px;
  margin-top: 21.422786844px;
  margin-bottom: 21.422786844px; }
  @media screen and (min-width: 600px) {
    h2,
    h2.flexifont {
      font-size: calc(19.436284208px + 13.741315792 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h2,
    h2.flexifont {
      font-size: 33.1776px; } }
  @media screen and (min-width: 600px) {
    h2,
    h2.flexifont {
      line-height: calc(29.154426312px + 20.611973688 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h2,
    h2.flexifont {
      line-height: 49.7664px; } }
  @media screen and (min-width: 600px) {
    h2,
    h2.flexifont {
      margin-top: calc(21.422786844px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(21.422786844px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h2,
    h2.flexifont {
      margin-top: 21.422786844px;
      margin-bottom: 21.422786844px; } }

h3,
h3.flexifont {
  font-size: 18.215824px;
  line-height: 27.323736px;
  margin-top: 22.338132px;
  margin-bottom: 22.338132px; }
  @media screen and (min-width: 600px) {
    h3,
    h3.flexifont {
      font-size: calc(18.215824px + 9.432176 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h3,
    h3.flexifont {
      font-size: 27.648px; } }
  @media screen and (min-width: 600px) {
    h3,
    h3.flexifont {
      line-height: calc(27.323736px + 14.148264 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h3,
    h3.flexifont {
      line-height: 41.472px; } }
  @media screen and (min-width: 600px) {
    h3,
    h3.flexifont {
      margin-top: calc(22.338132px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(22.338132px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h3,
    h3.flexifont {
      margin-top: 22.338132px;
      margin-bottom: 22.338132px; } }

h4,
h4.flexifont {
  font-size: 17.072px;
  line-height: 25.608px;
  margin-top: 23.196px;
  margin-bottom: 23.196px; }
  @media screen and (min-width: 600px) {
    h4,
    h4.flexifont {
      font-size: calc(17.072px + 5.968 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h4,
    h4.flexifont {
      font-size: 23.04px; } }
  @media screen and (min-width: 600px) {
    h4,
    h4.flexifont {
      line-height: calc(25.608px + 8.952 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h4,
    h4.flexifont {
      line-height: 34.56px; } }
  @media screen and (min-width: 600px) {
    h4,
    h4.flexifont {
      margin-top: calc(23.196px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(23.196px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h4,
    h4.flexifont {
      margin-top: 23.196px;
      margin-bottom: 23.196px; } }

h5,
h5.flexifont {
  font-size: 17.072px;
  line-height: 25.608px;
  margin-top: 23.196px;
  margin-bottom: 23.196px; }
  @media screen and (min-width: 600px) {
    h5,
    h5.flexifont {
      font-size: calc(17.072px + 5.968 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h5,
    h5.flexifont {
      font-size: 23.04px; } }
  @media screen and (min-width: 600px) {
    h5,
    h5.flexifont {
      line-height: calc(25.608px + 8.952 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h5,
    h5.flexifont {
      line-height: 34.56px; } }
  @media screen and (min-width: 600px) {
    h5,
    h5.flexifont {
      margin-top: calc(23.196px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(23.196px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h5,
    h5.flexifont {
      margin-top: 23.196px;
      margin-bottom: 23.196px; } }

h6,
h6.flexifont {
  font-size: 17.072px;
  line-height: 25.608px;
  margin-top: 23.196px;
  margin-bottom: 23.196px; }
  @media screen and (min-width: 600px) {
    h6,
    h6.flexifont {
      font-size: calc(17.072px + 5.968 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h6,
    h6.flexifont {
      font-size: 23.04px; } }
  @media screen and (min-width: 600px) {
    h6,
    h6.flexifont {
      line-height: calc(25.608px + 8.952 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h6,
    h6.flexifont {
      line-height: 34.56px; } }
  @media screen and (min-width: 600px) {
    h6,
    h6.flexifont {
      margin-top: calc(23.196px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(23.196px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h6,
    h6.flexifont {
      margin-top: 23.196px;
      margin-bottom: 23.196px; } }

p,
p.flexifont {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px; }
  @media screen and (min-width: 600px) {
    p,
    p.flexifont {
      font-size: calc(16px + 3.2 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    p,
    p.flexifont {
      font-size: 19.2px; } }
  @media screen and (min-width: 600px) {
    p,
    p.flexifont {
      line-height: calc(24px + 4.8 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    p,
    p.flexifont {
      line-height: 28.8px; } }
  @media screen and (min-width: 600px) {
    p,
    p.flexifont {
      margin-top: calc(24px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(24px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    p,
    p.flexifont {
      margin-top: 24px;
      margin-bottom: 24px; } }

small,
small.flexifont {
  font-size: 14.9953139644px;
  line-height: 22.4929709466px;
  margin-top: 24.7535145267px;
  margin-bottom: 24.7535145267px; }
  @media screen and (min-width: 600px) {
    small,
    small.flexifont {
      font-size: calc(14.9953139644px + 1.0046860356 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    small,
    small.flexifont {
      font-size: 16px; } }
  @media screen and (min-width: 600px) {
    small,
    small.flexifont {
      line-height: calc(22.4929709466px + 1.5070290534 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    small,
    small.flexifont {
      line-height: 24px; } }
  @media screen and (min-width: 600px) {
    small,
    small.flexifont {
      margin-top: calc(24.7535145267px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(24.7535145267px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    small,
    small.flexifont {
      margin-top: 24.7535145267px;
      margin-bottom: 24.7535145267px; } }

.has-padding {
  padding: 1vw 1vw; }

.has-y-padding {
  padding-top: 1vw;
  padding-bottom: 1vw; }

.has-x-padding {
  padding-left: 1vw;
  padding-right: 1vw; }

.has-left-padding {
  padding-left: 1vw; }

.has-right-padding {
  padding-right: 1vw; }

.has-margin {
  margin: 1vw 1vw; }

.has-y-margin {
  margin-top: 1vw;
  margin-bottom: 1vw; }

.has-x-margin {
  margin-left: 1vw;
  margin-right: 1vw; }

.has-left-margin {
  margin-left: 1vw; }

.has-right-margin {
  margin-right: 1vw; }

.is-full-width,
[class*='tile'] p {
  width: 100%; }

.short-reading-text {
  max-width: 22em; }

.reading-text {
  max-width: 33em; }

.long-reading-text {
  max-width: 44em; }

.centered-text {
  text-align: center; }

img.is-responsive,
.is-responsive img {
  height: auto;
  width: 100%;
  max-width: 100%; }

.is-cover {
  object-fit: cover;
  object-position: 50% 50%; }

.aspect--is-square,
.aspect--is-1to1 {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden; }

.aspect--is-2to1 {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden; }

.aspect--is-4to3 {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden; }

.aspect--is-6to5 {
  width: 100%;
  height: 0;
  padding-bottom: 83.3333333333%;
  overflow: hidden; }

body {
  padding: 0;
  margin: 0; }

* {
  font-family: Helvetica, Arial, Sans-Serif; }

[class*='tile'] {
  background: #eee;
  outline: 1px dashed #666; }
