/**
 * Slinky
 */
h1,
h1.flexifont {
  font-size: 20.73852px;
  line-height: 31.10777px;
  margin-top: 20.44611px;
  margin-bottom: 20.44611px; }
  @media screen and (min-width: 600px) {
    h1,
    h1.flexifont {
      font-size: calc(20.73852px + 19.0746 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h1,
    h1.flexifont {
      font-size: 39.81312px; } }
  @media screen and (min-width: 600px) {
    h1,
    h1.flexifont {
      line-height: calc(31.10777px + 28.61191 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h1,
    h1.flexifont {
      line-height: 59.71968px; } }
  @media screen and (min-width: 600px) {
    h1,
    h1.flexifont {
      margin-top: calc(20.44611px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(20.44611px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h1,
    h1.flexifont {
      margin-top: 20.44611px;
      margin-bottom: 20.44611px; } }

h2,
h2.flexifont {
  font-size: 19.43628px;
  line-height: 29.15443px;
  margin-top: 21.42279px;
  margin-bottom: 21.42279px; }
  @media screen and (min-width: 600px) {
    h2,
    h2.flexifont {
      font-size: calc(19.43628px + 13.74132 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h2,
    h2.flexifont {
      font-size: 33.1776px; } }
  @media screen and (min-width: 600px) {
    h2,
    h2.flexifont {
      line-height: calc(29.15443px + 20.61197 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h2,
    h2.flexifont {
      line-height: 49.7664px; } }
  @media screen and (min-width: 600px) {
    h2,
    h2.flexifont {
      margin-top: calc(21.42279px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(21.42279px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h2,
    h2.flexifont {
      margin-top: 21.42279px;
      margin-bottom: 21.42279px; } }

h3,
h3.flexifont {
  font-size: 18.21582px;
  line-height: 27.32374px;
  margin-top: 22.33813px;
  margin-bottom: 22.33813px; }
  @media screen and (min-width: 600px) {
    h3,
    h3.flexifont {
      font-size: calc(18.21582px + 9.43218 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h3,
    h3.flexifont {
      font-size: 27.648px; } }
  @media screen and (min-width: 600px) {
    h3,
    h3.flexifont {
      line-height: calc(27.32374px + 14.14826 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h3,
    h3.flexifont {
      line-height: 41.472px; } }
  @media screen and (min-width: 600px) {
    h3,
    h3.flexifont {
      margin-top: calc(22.33813px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(22.33813px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h3,
    h3.flexifont {
      margin-top: 22.33813px;
      margin-bottom: 22.33813px; } }

h4,
h4.flexifont {
  font-size: 17.072px;
  line-height: 25.608px;
  margin-top: 23.196px;
  margin-bottom: 23.196px; }
  @media screen and (min-width: 600px) {
    h4,
    h4.flexifont {
      font-size: calc(17.072px + 5.968 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h4,
    h4.flexifont {
      font-size: 23.04px; } }
  @media screen and (min-width: 600px) {
    h4,
    h4.flexifont {
      line-height: calc(25.608px + 8.952 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h4,
    h4.flexifont {
      line-height: 34.56px; } }
  @media screen and (min-width: 600px) {
    h4,
    h4.flexifont {
      margin-top: calc(23.196px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(23.196px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h4,
    h4.flexifont {
      margin-top: 23.196px;
      margin-bottom: 23.196px; } }

h5,
h5.flexifont {
  font-size: 17.072px;
  line-height: 25.608px;
  margin-top: 23.196px;
  margin-bottom: 23.196px; }
  @media screen and (min-width: 600px) {
    h5,
    h5.flexifont {
      font-size: calc(17.072px + 5.968 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h5,
    h5.flexifont {
      font-size: 23.04px; } }
  @media screen and (min-width: 600px) {
    h5,
    h5.flexifont {
      line-height: calc(25.608px + 8.952 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h5,
    h5.flexifont {
      line-height: 34.56px; } }
  @media screen and (min-width: 600px) {
    h5,
    h5.flexifont {
      margin-top: calc(23.196px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(23.196px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h5,
    h5.flexifont {
      margin-top: 23.196px;
      margin-bottom: 23.196px; } }

h6,
h6.flexifont {
  font-size: 17.072px;
  line-height: 25.608px;
  margin-top: 23.196px;
  margin-bottom: 23.196px; }
  @media screen and (min-width: 600px) {
    h6,
    h6.flexifont {
      font-size: calc(17.072px + 5.968 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h6,
    h6.flexifont {
      font-size: 23.04px; } }
  @media screen and (min-width: 600px) {
    h6,
    h6.flexifont {
      line-height: calc(25.608px + 8.952 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h6,
    h6.flexifont {
      line-height: 34.56px; } }
  @media screen and (min-width: 600px) {
    h6,
    h6.flexifont {
      margin-top: calc(23.196px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(23.196px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    h6,
    h6.flexifont {
      margin-top: 23.196px;
      margin-bottom: 23.196px; } }

p,
p.flexifont {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px; }
  @media screen and (min-width: 600px) {
    p,
    p.flexifont {
      font-size: calc(16px + 3.2 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    p,
    p.flexifont {
      font-size: 19.2px; } }
  @media screen and (min-width: 600px) {
    p,
    p.flexifont {
      line-height: calc(24px + 4.8 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    p,
    p.flexifont {
      line-height: 28.8px; } }
  @media screen and (min-width: 600px) {
    p,
    p.flexifont {
      margin-top: calc(24px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(24px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    p,
    p.flexifont {
      margin-top: 24px;
      margin-bottom: 24px; } }

small,
small.flexifont {
  font-size: 14.99531px;
  line-height: 22.49297px;
  margin-top: 24.75351px;
  margin-bottom: 24.75351px; }
  @media screen and (min-width: 600px) {
    small,
    small.flexifont {
      font-size: calc(14.99531px + 1.00469 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    small,
    small.flexifont {
      font-size: 16px; } }
  @media screen and (min-width: 600px) {
    small,
    small.flexifont {
      line-height: calc(22.49297px + 1.50703 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    small,
    small.flexifont {
      line-height: 24px; } }
  @media screen and (min-width: 600px) {
    small,
    small.flexifont {
      margin-top: calc(24.75351px + 0 * (100vw - 600px) / 700);
      margin-bottom: calc(24.75351px + 0 * (100vw - 600px) / 700); } }
  @media screen and (min-width: 1300px) {
    small,
    small.flexifont {
      margin-top: 24.75351px;
      margin-bottom: 24.75351px; } }

.has-padding {
  padding: 1vw 1vw; }

.has-y-padding {
  padding-top: 1vw;
  padding-bottom: 1vw; }

.has-x-padding {
  padding-left: 1vw;
  padding-right: 1vw; }

.has-left-padding {
  padding-left: 1vw; }

.has-right-padding {
  padding-right: 1vw; }

.has-margin {
  margin: 1vw 1vw; }

.has-y-margin {
  margin-top: 1vw;
  margin-bottom: 1vw; }

.has-x-margin {
  margin-left: 1vw;
  margin-right: 1vw; }

.has-left-margin {
  margin-left: 1vw; }

.has-right-margin {
  margin-right: 1vw; }

.container {
  max-width: 1800px;
  margin: auto; }

.grid-wrapper {
  width: 100%; }

.grid,
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin: auto;
  max-width: 1800px;
  width: 100%; }
  .ie9 .grid,
  .ie9 .grid-1,
  .ie9 .grid-2,
  .ie9 .grid-3,
  .ie9 .grid-4,
  .ie9 .grid-5,
  .ie9 .grid-6 {
    display: table;
    width: 100%; }
  .grid,
  .grid *,
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6, .grid-1 *, .grid-2 *, .grid-3 *, .grid-4 *, .grid-5 *, .grid-6 * {
    box-sizing: border-box; }

.tile,
[class*='tile-'],
.tile-auto {
  justify-content: flex-start;
  align-items: stretch;
  flex-basis: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  width: auto; }
  .ie9 .tile, .ie9
  [class*='tile-'], .ie9
  .tile-auto {
    display: table-cell;
    float: left; }
  .tile div,
  [class*='tile-'] div,
  .tile-auto div {
    max-width: 100%; }

ul.grid,
ul[class*='grid-'] {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin: auto;
  max-width: 1800px;
  width: 100%; }
  .ie9 ul.grid, .ie9
  ul[class*='grid-'] {
    display: table;
    width: 100%; }
  ul.grid,
  ul.grid *,
  ul[class*='grid-'],
  ul[class*='grid-'] * {
    box-sizing: border-box; }
  ul.grid > li,
  ul[class*='grid-'] > li {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: stretch;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    width: auto; }
    .ie9 ul.grid > li, .ie9
    ul[class*='grid-'] > li {
      display: table-cell;
      float: left; }
    ul.grid > li div,
    ul[class*='grid-'] > li div {
      max-width: 100%; }

.grid-1 > .tile-1 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 100%;
  flex-basis: 100%; }
  .ie9 .grid-1 > .tile-1 {
    width: 100%; }

.tile-1of1 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 100%;
  flex-basis: 100%; }
  .ie9 .tile-1of1 {
    width: 100%; }

.grid-2 > .tile-1 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 50%;
  flex-basis: 50%; }
  .ie9 .grid-2 > .tile-1 {
    width: 50%; }

.tile-1of2 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 50%;
  flex-basis: 50%; }
  .ie9 .tile-1of2 {
    width: 50%; }

.grid-2 > .tile-2 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 100%;
  flex-basis: 100%; }
  .ie9 .grid-2 > .tile-2 {
    width: 100%; }

.tile-2of2 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 100%;
  flex-basis: 100%; }
  .ie9 .tile-2of2 {
    width: 100%; }

.grid-3 > .tile-1 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 33.33333%;
  flex-basis: 33.33333%; }
  .ie9 .grid-3 > .tile-1 {
    width: 33.33333%; }

.tile-1of3 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 33.33333%;
  flex-basis: 33.33333%; }
  .ie9 .tile-1of3 {
    width: 33.33333%; }

.grid-3 > .tile-2 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 66.66667%;
  flex-basis: 66.66667%; }
  .ie9 .grid-3 > .tile-2 {
    width: 66.66667%; }

.tile-2of3 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 66.66667%;
  flex-basis: 66.66667%; }
  .ie9 .tile-2of3 {
    width: 66.66667%; }

.grid-3 > .tile-3 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 100%;
  flex-basis: 100%; }
  .ie9 .grid-3 > .tile-3 {
    width: 100%; }

.tile-3of3 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 100%;
  flex-basis: 100%; }
  .ie9 .tile-3of3 {
    width: 100%; }

.grid-4 > .tile-1 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 25%;
  flex-basis: 25%; }
  .ie9 .grid-4 > .tile-1 {
    width: 25%; }

.tile-1of4 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 25%;
  flex-basis: 25%; }
  .ie9 .tile-1of4 {
    width: 25%; }

.grid-4 > .tile-2 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 50%;
  flex-basis: 50%; }
  .ie9 .grid-4 > .tile-2 {
    width: 50%; }

.tile-2of4 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 50%;
  flex-basis: 50%; }
  .ie9 .tile-2of4 {
    width: 50%; }

.grid-4 > .tile-3 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 75%;
  flex-basis: 75%; }
  .ie9 .grid-4 > .tile-3 {
    width: 75%; }

.tile-3of4 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 75%;
  flex-basis: 75%; }
  .ie9 .tile-3of4 {
    width: 75%; }

.grid-4 > .tile-4 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 100%;
  flex-basis: 100%; }
  .ie9 .grid-4 > .tile-4 {
    width: 100%; }

.tile-4of4 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 100%;
  flex-basis: 100%; }
  .ie9 .tile-4of4 {
    width: 100%; }

.grid-5 > .tile-1 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 20%;
  flex-basis: 20%; }
  .ie9 .grid-5 > .tile-1 {
    width: 20%; }

.tile-1of5 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 20%;
  flex-basis: 20%; }
  .ie9 .tile-1of5 {
    width: 20%; }

.grid-5 > .tile-2 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 40%;
  flex-basis: 40%; }
  .ie9 .grid-5 > .tile-2 {
    width: 40%; }

.tile-2of5 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 40%;
  flex-basis: 40%; }
  .ie9 .tile-2of5 {
    width: 40%; }

.grid-5 > .tile-3 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 60%;
  flex-basis: 60%; }
  .ie9 .grid-5 > .tile-3 {
    width: 60%; }

.tile-3of5 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 60%;
  flex-basis: 60%; }
  .ie9 .tile-3of5 {
    width: 60%; }

.grid-5 > .tile-4 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 80%;
  flex-basis: 80%; }
  .ie9 .grid-5 > .tile-4 {
    width: 80%; }

.tile-4of5 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 80%;
  flex-basis: 80%; }
  .ie9 .tile-4of5 {
    width: 80%; }

.grid-5 > .tile-5 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 100%;
  flex-basis: 100%; }
  .ie9 .grid-5 > .tile-5 {
    width: 100%; }

.tile-5of5 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 100%;
  flex-basis: 100%; }
  .ie9 .tile-5of5 {
    width: 100%; }

.grid-6 > .tile-1 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 16.66667%;
  flex-basis: 16.66667%; }
  .ie9 .grid-6 > .tile-1 {
    width: 16.66667%; }

.tile-1of6 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 16.66667%;
  flex-basis: 16.66667%; }
  .ie9 .tile-1of6 {
    width: 16.66667%; }

.grid-6 > .tile-2 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 33.33333%;
  flex-basis: 33.33333%; }
  .ie9 .grid-6 > .tile-2 {
    width: 33.33333%; }

.tile-2of6 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 33.33333%;
  flex-basis: 33.33333%; }
  .ie9 .tile-2of6 {
    width: 33.33333%; }

.grid-6 > .tile-3 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 50%;
  flex-basis: 50%; }
  .ie9 .grid-6 > .tile-3 {
    width: 50%; }

.tile-3of6 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 50%;
  flex-basis: 50%; }
  .ie9 .tile-3of6 {
    width: 50%; }

.grid-6 > .tile-4 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 66.66667%;
  flex-basis: 66.66667%; }
  .ie9 .grid-6 > .tile-4 {
    width: 66.66667%; }

.tile-4of6 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 66.66667%;
  flex-basis: 66.66667%; }
  .ie9 .tile-4of6 {
    width: 66.66667%; }

.grid-6 > .tile-5 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 83.33333%;
  flex-basis: 83.33333%; }
  .ie9 .grid-6 > .tile-5 {
    width: 83.33333%; }

.tile-5of6 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 83.33333%;
  flex-basis: 83.33333%; }
  .ie9 .tile-5of6 {
    width: 83.33333%; }

.grid-6 > .tile-6 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 100%;
  flex-basis: 100%; }
  .ie9 .grid-6 > .tile-6 {
    width: 100%; }

.tile-6of6 {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 100%;
  flex-basis: 100%; }
  .ie9 .tile-6of6 {
    width: 100%; }

.test-is-column {
  flex-direction: column;
  height: 100%; }

.tiles-have-margin > .tile,
.tiles-have-margin > [class*='tile-'],
.tiles-have-margin > .tile-auto {
  margin: 1vw 1vw; }

ul.tiles-have-margin > li {
  margin: 1vw 1vw; }

.padded-grid > .tile,
.padded-grid > [class*='tile-'],
.padded-grid > .tile-auto {
  padding: 1vw 1vw;
  background-clip: content-box; }

[class*='tile-'].padded-grid {
  padding: 0; }

ul.padded-grid > li {
  padding: 1vw 1vw;
  background-clip: content-box; }

.cards-have-padding > .tile > .card,
.cards-have-padding > [class*='tile-'] > .card,
.cards-have-padding > .tile-auto > .card {
  padding: 1vw 1vw;
  background-clip: content-box; }

[class*='tile-'].cards-have-padding {
  padding: 0; }

ul.cards-have-padding > li > .card {
  padding: 1vw 1vw;
  background-clip: content-box; }

ul.hex-grid > li,
ol.hex-grid > li {
  list-style: none;
  padding: 0;
  margin: 0; }

.hex-tile,
ul.hex-grid > li,
ol.hex-grid > li {
  outline: 1px dotted orange;
  width: 200px;
  height: 0;
  padding-bottom: 230.94688px;
  float: left;
  transform-origin: 50% 50%;
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden; }
  .hex-tile:nth-child(2n+1),
  ul.hex-grid > li:nth-child(2n+1),
  ol.hex-grid > li:nth-child(2n+1) {
    position: relative;
    left: -86px; }
  .hex-tile:nth-child(2n),
  ul.hex-grid > li:nth-child(2n),
  ol.hex-grid > li:nth-child(2n) {
    position: relative;
    bottom: -165px;
    left: -86px; }
  .hex-tile article, ul.hex-grid > li article,
  ol.hex-grid > li article {
    opacity: 0.5;
    background: url(http://placehold.it/200x200) no-repeat 50% 50%;
    background-size: contain;
    overflow: hidden;
    transform-origin: 50% 50%;
    transform: skewY(-30deg) rotate(60deg);
    display: block;
    position: absolute;
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto; }

.is-full-width {
  width: 100%; }

.short-reading-text {
  max-width: 22em; }

.reading-text {
  max-width: 33em; }

.long-reading-text {
  max-width: 44em; }

.centered-text {
  text-align: center; }

img.is-responsive,
.is-responsive img {
  height: auto;
  width: 100%;
  max-width: 100%; }

.is-cover {
  object-fit: cover;
  object-position: 50% 50%; }

.aspect--is-square,
.aspect--is-1to1 {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden; }

.aspect--is-2to1 {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden; }

.aspect--is-4to3 {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden; }

.aspect--is-6to5 {
  width: 100%;
  height: 0;
  padding-bottom: 83.33333%;
  overflow: hidden; }

body {
  padding: 0;
  margin: 0; }

* {
  font-family: Helvetica, Arial, Sans-Serif; }

.tile,
[class*='tile-'],
ul.grid li {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px dashed #666; }
  .tile .card,
  [class*='tile-'] .card,
  ul.grid li .card {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    outline: 1px dashed #f00; }
