// Here we are overriding the default variables for the slinky type library.

// Slinky type overrides.
$padding-y: 1vw;
$padding-x: 1vw;
$margin-y: 1vw;
$margin-x: 1vw;

// Tiles
$grid-columns: 4;
$grid-max-width: 1800px;
$breakpoint-mobile: 600px;
