// This is just for the demo page and not part of the library.

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Helvetica, Arial, Sans-Serif;
}

.tile,
[class*='tile-'],
ul.grid li {
  background-color: rgba(0,0,0,0.1);
  outline: 1px dashed #666;

  .card {
    //@extend %p--flexifont;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    outline: 1px dashed #f00;
  }
}

//[class*='aspect-'] {
//  background: #ddd;
//  outline: 1px dotted #ccc;
//}

//article {
//  background-color: rgba(0,0,0,0.1);
//  outline: 1px dashed #f00;
//}

//#grid-test {
//  [class*='tile'] {
//    background: none;
//    outline: 0;
//
//    article {
//      align-items: center;
//    }
//  }
//}
